.bg {
  height: 100%;
  background-image: url("images/back.jpg");
  background-size: 100% !important;
  padding: 180px;
  background-position: 0% 48%;
}

.title-aboutUs {
  font-weight: 900;
  font-family: "copperplate" !important;
  color: white;
}
