.resultCard {
    background-color:rgb(168, 58, 58);
    color: white;
    padding:50px;
}

.scale {
    padding-top: 20px;
}

.res {
    padding-bottom: 25px;
    font-family: 'Georgia' !important;
}

.txt {
    font-family: 'Georgia' !important;
}
